html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lexend', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
  background: rgba(243, 130, 50, 0.5);
}
::selection{
  background: rgba(243, 130, 50, 0.5);
}

