

.main {
  min-height: 100vh;
  margin: 0 220px;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainContent{
  margin: 50px 0 0 10%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4.5rem;
}

.subTitle {
  margin: 0;
  line-height: 1.5;
  font-size: 2.3rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.box{
  width: 60%;
  height: fit-content;
  margin: 30px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.text{
  font-size: 1.4rem;
}

.button{
  font-size: 26px;
  background: linear-gradient(160deg, rgb(248, 171, 56) 0%, rgba(228,101,10,1) 50%, rgba(255,23,23,1) 100%);
  padding: 10px;
  border-radius: 13px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  margin-top: 20px;
  transition: all 300ms ease-in-out;
  &:hover{
    cursor: pointer;
    background: linear-gradient(160deg, rgb(173, 119, 39) 0%, rgba(159,70,7,1) 50%, rgba(178,16,16,1) 100%);
    transform: scale(1.05);
  }
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.inputContainer{
  display: flex;
  justify-content: center;
  margin-top: 30px;

  & > * {
    transition: all 300ms ease-in-out;
  }
}
.input{
  border: 3px solid black;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 17px;

  &Focussed {
    outline: none;
    border: 3px solid orange;
  }
}

.https{
  border: 3px solid black;
  padding: 9px;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  font-size: 17px;

  &Focussed {
    outline: none;
    border: 3px solid orange;
    border-right: 0;
  }
}

.special{
  background: linear-gradient(140deg, rgb(248, 171, 56) 0%, rgba(228,101,10,1) 50%, rgba(255,23,23,1) 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.getStarted{
  font-size: 30px;
  background: linear-gradient(160deg, rgb(248, 171, 56) 0%, rgba(228,101,10,1) 50%, rgba(255,23,23,1) 100%);
  padding: 10px;
  border-radius: 13px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.sliderThumb::before {
	position: absolute;
	content: "";
	left: 60%;
	top: 42%;
	width: 520px;
	height: 520px;
  background: linear-gradient(140deg, rgb(248, 171, 56) 0%, rgba(228,101,10,1) 50%, rgba(255,23,23,1) 100%);
	border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
	will-change: border-radius, transform, opacity;
	animation: sliderShape 10s linear infinite;
	display: block;
	z-index: -1;
	-webkit-animation: sliderShape 10s linear infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
